h1{
    background-color: #00ffff;
    text-decoration: blue;
    text-align: center;
}

p{
    text-transform: capitalize;
    
}

#na{
    text-size-adjust: 200%;
    background-color: burlywood;
    text-align: center;
}